!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title CrossRef Cited-by Links
    %link{:rel => "stylesheet", :href => "/citedby.css", :type => "text/css",
          :media => "screen, print"}
  %body  
    - if citations.length == 0 then
      #citedby-none
        There are no CrossRef Cited-by links for this article.
    - else
      #citedby-citations
        - citations.each do |c|
          .citedby-citation
            %span.citedby-work-title= c[:work_title]
            %div
              %span.citedby-container-title= c[:container_title]
              %span.citedby-year= c[:year]
            %div
              %span.citedby-authors= c[:authors]
            %div
              %a.citedby-doi{:target => "_top", :href => "http://dx.doi.org/#{c[:doi]}"}
                = c[:doi]
            
      
